@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/*Navegacion*/
#navbar-pinterest{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 1%;
}
#navbar-pinterest > li:hover{
    color: red;
}
#navbar-pinterest > li{
    list-style: none;
    cursor: pointer;
    padding: 1%;
}

#navbar-pinterest > li:nth-child(2){
    font-weight: 600;

    
}
#navbar-pinterest > li:nth-child(3){
    font-weight: 600;       
}

#navbar-pinterest> li:nth-child(6){
    font-size: 20px;
    color: gray; 

}
#navbar-pinterest > li:nth-child(6):hover{
    color: red;
}

.finder{   
    width: 70%;
    position: relative;
    padding: 1%;
    
}
.finder > input{
    
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: -5px;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.212);
    
}
.finder > input:focus{
    outline: none;
}


.notifications i{
    font-size: 20px;
    
    color: gray;
    margin-top: 5px;

}
.notifications i:hover{
    color: rgba(0, 17, 255, 0.733);
}


#profile-img img{
    object-fit: cover;

    border-radius: 50%;
}

/* <!-- --------------------nav End -------------------- --> */

#content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 15px;
    /* gap: 1%; */
    /* margin: 2%; */

}
#content > div{
    padding: 0;
    margin: 15px 10px;
    border-radius: 20px;

}
 
#content  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card_small{
    grid-row-end: span 26;
}
.card_midium{
    grid-row-end: span 33;
}
.card_large{
    grid-row-end: span 40;
}


@media all and(min-width: 421px) and (max-width: 768px){
    #content{
        grid-template-columns: repeat(auto-fill,200px);
    }
    .finder{
        display: none;
    }
    #navbar-pinterest > li:nth-child(2){
        font-weight: 500;
        font-size: 15px;
        
    }
}

@media all and (min-width:50px) and (max-width: 420px){
    #content{
        grid-template-columns: repeat(auto-fill,150px);
    }
    #content > div{
        padding: 0;
        margin: 8px 5px;
        border-radius: 20px;
    
    }
    #navbar-pinterest{
        padding: 2%;
    }
    .finder > input{
        /* display: none; */
        padding: 3%;
    }
    #navbar-pinterest > li>img{
        width: 30px;
        height: 30px;
        
    }
    #navbar-pinterest > li {
        font-size: 12px;
        
    }
    #navbar-pinterest > li i{
        display: none;
        
    }
    #navbar-pinterest > li:nth-child(2){
        display: none;
        
    }
    #navbar-pinterest > li:nth-child(3){
        display: none;
        
    }
   

}
    


